/* Etiquetas */
*{
    font-family: 'Roboto', sans-serif;
    color: rgb(29,29,31);
}

h1{
    font-size:4em;
    margin-top:0px !important;
    margin-bottom:0px !important;
}

h2{
    font-size:3em;
}

h3{
    font-size:1.7em;
}

h4{
    margin-top:0px !important;
    margin-bottom:0px !important;
}

footer{
    background-color: rgb(242, 242, 242);
    padding:20px 0px;
    font-size:0.8em;
}

footer ul{
    padding-left: 108px;
}

footer ul li{
    display: inline;
    padding-right: 30px;
    text-align:center;
}

a{
    color: rgb(0, 113, 227);
    text-decoration:none;
}

button{
    background-color: rgb(0, 113, 227);
    color:white;
    border:0px;
    padding:10px 20px;
    border-radius:20px;
}

nav{
    background-color: rgba(0, 0, 0, 0.8);   
    padding-top: 2px;
    padding-bottom:2px;
    padding-left: 90px;
    padding-right:40px;
}

nav ul li{
    display: inline;
    padding-right: 100px;
    color: rgb(242, 242, 242);
}

header{
    text-align: center;
}

/* ID */
#img_macbook{
    height: 200px;
    width: 65%;
}

#main{
    margin-top:100px;
    text-align: center;
}

#img_laptop_cover{
    width: 400px;
}

#img_apple_tools{
    margin-top:66px;
    width: 600px;
}

#img_box{
    width:40px;
    height:40px;
}

/* Clases */

.fuente_clara{
    color: rgb(81, 81, 84);
}
.bloque_intermedio{
    background-color: rgb(242, 242, 242);
    width:600px;
    display:inline-block;
    margin-right:30px;
    padding-top:50px;
}

.bloque_intermedio h1,h2,h3,h4,p{
    padding-left:110px;
    padding-right:110px;
}

.icono_nav{
    width:40px;
    height:40px;
    position: absolute;
    top: 15px;
}

.icono_lupa{
    width:20px;
    height:20px;
    position: absolute;
    top:25px;
}